@using SophiChain.BlazorDatePicker.Components
@inherits LayoutComponentBase
<!-- Add SophiChain DatePicker Providers -->
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>
    <main>
        <div class="top-row px-4">
            <h1>SophiChain Blazor DatePicker Demo</h1>
        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
